# .gitignore 101 - https://www.quora.com/Does-gitignore-file-only-work-on-current-folder

# dot files
.*cache
.build/
.DS_Store
.tmp/
.vscode
*.env

# debug
*.log*

# folders
app/test*/
coverage*/
dist*/
node_modules/

# compiled files
app/*.d.ts
app/*.d.ts.map
app/*.js
app/*.js.map

# Do not ignore
