language: node_js
sudo: required
dist: trusty
node_js:
  - 8
  - 10
  - 11
cache:
  directories:
    - node_modules
before_script:
  - npm i -g npm@latest --quiet
  - npm i codecov coveralls --quiet
script:
  - npm cit --quiet
after_success:
  - 'cat ./coverage/lcov.info | coveralls'
  - 'cat ./coverage/lcov.info | codecov'
